Source: neuroslink-default-settings-ati
Section: x11
Priority: optional
Maintainer: Tom Bruno <tbruno@neurostechnology.com>
Build-Depends: debhelper (>= 5.0.0), cdbs
Standards-Version: 3.7.3

Package: neuroslink-default-settings-ati
Architecture: all 
Depends: xorg-driver-fglrx, fglrx-amdcccle
Recommends: gdm
Description: default settings for Neuros TVPC 
 Various preconfigured items for Neuros TVPC.
 This package will:
  * Set GDM to auto login to neurostv user
  * Install default ati configuration
  * Used for Generation 1 Neuros Link with ATI hardware
